{% extends 'admin/base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div>
        <p>{{ user.name }}</p>
        <p>{{ address }}</p>
    </div>
{% endblock %}
