{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div>
        <div style="height:77px; background: rgba(21, 34, 43, 0.85)">

        </div>
        <h1>LocaSport</h1>

        <div>
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>


        </div>

    </div>
{% endblock %}
