{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div>
    <div style="height:77px; background: rgba(21, 34, 43, 0.85)">

    </div>
    {% for user in users %}
    <p>{{ user.name }}</p>
    {% endfor %}
</div>
{% endblock %}
